@charset "UTF-8";
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
}
:focus, :active { outline: 0 }

ol, ul { list-style: none }

blockquote:before, blockquote:after { content: "" }
blockquote { quotes: "" "" }

header, nav, article, aside, footer, hgroup, section { display: block }

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1 } /* IE6 */
*:first-child+html .clearfix { zoom: 1 } /* IE7 */

/* @FONT-FACE */
@font-face {
	font-family: 'GeosansLightRegular';
	src: url('../fonts/geosanslight-webfont.eot');
	src: local('☺'), url('../fonts/geosanslight-webfont.woff') format('woff'), url('../fonts/geosanslight-webfont.ttf') format('truetype'), url('../fonts/geosanslight-webfont.svg#webfontLGv3Ovdh') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AngelinaRegular';
	src: url('../fonts/angelina-webfont.eot');
	src: local('☺'), url('../fonts/angelina-webfont.woff') format('woff'), url('../fonts/angelina-webfont.ttf') format('truetype'), url('../fonts/angelina-webfont.svg#webfontHEiuZlM4') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* TYPOGRAPHY */
html {
	background-color: #FFFFFF;
	/* bug lies in background-image...need JS to insert height with no scroll bars or insert an actual background image
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DBD8C6 80%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(0.8, #DBD8C6));
	/* end bug */
}

body {
	margin: 0 auto;
	color: #333;
	font: 12px/18px GeosansLightRegular, Arial, Helvetica, sans-serif;
	text-align: justify;
}

p { margin-bottom: 18px }

/*strong { font-weight: bold; text-shadow: 3px 3px 5px #000; } */
/*regular { font: 70px/78px GeosansLightRegular, Arial, Helvetica, sans-serif; text-shadow: 3px 3px 5px #000; }*/
em { font-style: italic }


/*a { color: #B82F15 }*/
a { color: white }
a:hover { border-bottom: 1px solid #B82F15 }
a:active { border-bottom: 2px solid #B82F15 }

h1 { 
    font: 68px/80px Arial, Helvetica, sans-serif; 
    padding-top: 20px; 
}

h2 { 
    padding-top: 20px;
    font: 40px/70px GeosansLightRegular, Arial; 
    color: #ffffff;
}

.newLine { display: block }


/* ====================================== */

/* MAIN */
.article {
	background-color: #1E2558;
	background-image: -moz-linear-gradient(top, #1E2558 0%, #004A9E 52%, #20285D 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1E2558),color-stop(0.52, #004A9E),color-stop(1, #20285D)); 
	margin: 0 0 30px 0;
	padding: 20px 20px 100px 20px;
	
	box-shadow: 0 0 10px #629996;
	/* corresponds to a bug in mozilla */
	-moz-box-shadow: -10px 0 10px #629996;
	/* end bug */
	-webkit-box-shadow: 0 0 10px #629996;
	text-align: center;	
	height: 300px;
}


header {
  margin: 20px 30px 20px 20px 
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}


.input {
    font-size: 24px;
    padding: 6px 6px;
    text-align: center;
}   


/* Sign up button */

a.signup_button {
	border: none;
	display: inline-block;
	color: #fff;
	font: 25px Arial, GeosansLightRegular, Helvetica, sans-serif;
	text-shadow: 3px 3px 5px #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 15px 40px;
	line-height: 30px;
	position: relative;
    
    margin-top: 28px;
    
	background-color: #449BCC;
	background-image: -moz-linear-gradient(bottom, #449BCC 6%, #73C2E0 49%, #449BCC 82%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.06, #449BCC),color-stop(0.49, #73C2E0), color-stop(0.82, #449BCC));
	
	box-shadow: 2px 2px 20px #000;
	-moz-box-shadow: 2px 2px 20px #000;
	-webkit-box-shadow: 2px 2px 20px #000;

	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

a.signup_button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 20px #FFFFFF;
	-moz-box-shadow: 2px 2px 20px #FFFFFF;
	-webkit-box-shadow: 2px 2px 20px #FFFFFF;
	
	background-color: #B82F15;
	background-image: -moz-linear-gradient(bottom, #B82F15, #BC3317, #D94C24, #FF6E36, #BB3216);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #B82F15),color-stop(0.135, #BC3317), color-stop(0.3742, #D94C24),color-stop(0.5521, #FF6E36),color-stop(1, #BB3216));
}


footer {
  text-align: center;
  margin-top: 10px;
  clear: both;
}

footer nav {
  float: none;
}