<div id=content>
  <h2>
    <p>Thank You.</p>

    <p>You have been added to the waiting list.</p>

    <p>Please email <a href="mailto:info@airpr.com">info@airpr.com</a> 
      with any questions.</p>
  </h2>
</div>
